
@mixin myanimation {
    animation-name: skutt;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}

#animation-red {
    @include myanimation;
    color: rgb(114, 0, 0);
}

#animation-green {
    @include myanimation;
    color: rgb(0, 114, 0);
}

@keyframes skutt {
    50% {transform: scale(1.1);}
}
