/* Font Weights */
$boldfont: 700;
$mediumfont: 400;

/* Background colors */
$griditem1:#FFCAD4 ;
$griditem2: #B0D0D3;
$griditem3: rgb(255, 235, 230);
$griditem4: rgb(218, 148, 170);
$header: rgb(100, 78, 82);